body {
	background-color: #CF7C29;
	color: white;
	font-family: Helvetica;
}

h1,h2 {
	color: #A3D1FF;
}

.floatleft { 
	display: inline-block; 
	text-align: left; 
	width: 150px;
}

.floatright { 
	display: inline-block; 
	text-align: left; 
	float: right;
	width: 350px; 
}

fieldset {
	float: left;
}