body {
	background-color: #CF7C29;
	color: white;
	font-family: Helvetica;
}

h1,h2 {
	color: #A3D1FF;
}

.floatprofile{
	text-align: left;
	width: 800px;
	border: none;
}

.floattable{
	display: inline-block; 
	text-align: left; 
	width: 700px;
}

.floatleft { 
	display: inline-block; 
	text-align: left; 
	width: 150px;
}

.col-md-4 {
	text-align: left;
	float: right;
	overflow: scroll;
	height: 23em;
	width: 20em;
	position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.floatlist {
	text-align:left;
	margin-left: 0px;
	width: 1200px;
	border:none;
	}

.floatright { 
	display: inline-block; 
	text-align: left; 
	float: right;
	width: 500px; 
}

.floatright2 { 
	display: inline-block; 
	text-align: left; 
	float: right;
	width: 200x; 
}

.floatemail {
	display: inline-block;
	text-align: left;
	float: right;
}


fieldset {
	float: left;
}

table,th,tr,td{
	border: 1px groove black;
	}
	
.color1{
	background-color: #FFD6D6
}

.color2{
	background-color: #D1F0FF
}

.color3{
	background-color: #FDFD96;
	color: black
}