body {
	background-color: #CF7C29;
	color: white;
	font-family: Helvetica;
}

h1,h2 {
	color: #A3D1FF;
}

.floatprofile{
	display: inline-block;
	text-align: left;
	width: 850px;
}

.floattable{
	display: inline-block; 
	text-align: left; 
	width: 900px;
}

.floatleft { 
	display: inline-block; 
	text-align: left; 
	width: 150px;
}

.floatchat {
	display: inline-block;
	text-align: left;
	float: right;
	overflow: scroll;
	height: 23em;
	width: 20em;
}

.floatright { 
	display: inline-block; 
	text-align: left; 
	float: right;
	width: 500px; 
}

.floatemail {
	display: inline-block;
	text-align: left;
	float: right;
}


fieldset {
	float: left;
}

.profile{
	float: none;
}

table,th,tr,td{
	border: 1px groove black;
	}
	
.color1{
	background-color: #FF6961
}

.color2{
	background-color: #85ADFF
}

.color3{
	background-color: #FDFD96;
	color: black
}